@mixin set-mg-pd ($margin: 0, $padding: 0){
    margin: $margin;
    padding: $padding;
}

@mixin set-wd-hg ($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

@mixin set-bg-color ($background: unset, $color: unset) {
    background: $background;
    color: $color;
}

@mixin set-gc-gr ($grid-column: unset, $grid-row: unset) {
    grid-column: $grid-column;
    grid-row: $grid-row;
}

@mixin separator-bg-op ($background: unset, $opacity: 1) {
    background: $background;
    opacity: $opacity;
}

@mixin btn-hover ($background: unset, $outline: unset, $color: unset) {
    background: $background;
    outline: $outline;
    color: $color;
}
