body {
    font-family: $font;
    font-size: $font-size;
    background: $very-light-grayish-blue;
    color: $grayish-blue;
    background: url("/assets/images/bg-top.svg") top right / 70% no-repeat fixed;
}

// Main
.main {
    max-width: 1200px;
    min-height: 100vh;
    @include set-mg-pd(0 auto, 4.5em 1em);
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    row-gap: 2em;

    // h1
    &__h1 {
        font-size: 1.8em;
        margin-bottom: 1em;
    }

    // h2
    &__h2 {
        color: $dark-grayish-blue;

        &--color-white {
            color: $very-light-grayish-blue;
        }

        &--big {
            font-size: 3.5em;
        }
    }

    // p
    &__p {
        position: relative;
        color: $light-grayish-blue;

        &--color-dark {
            color: $grayish-blue;
        }

        &--color-white {
            color: $very-light-grayish-blue;
        }
    }
}

.pricing,
.plan {
    width: 100%;
}

.pricing__plans {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
}

.plan {
    width: 300px;
    @include set-mg-pd(0 auto, 2em 1.5em);
    background: $very-light-grayish-blue;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;

    &:nth-of-type(2) {
        background: linear-gradient($gradient-2);
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
}

// Media queries
@media only screen and (min-width: 1024px) {
    body {
        background: url("/assets/images/bg-top.svg") top right / 25% no-repeat fixed,
            url("/assets/images/bg-bottom.svg") bottom left / 25% no-repeat fixed;
    }

    .main {
        grid-template-columns: repeat(3, max-content);
        row-gap: 4.5em;
        place-content: center;
        align-items: center;

        // h1
        &__h1 {
            font-size: 2em;
        }

        // h2
        &__h2 {

            &--big {
                font-size: 4em;
            }
        }

        // p
        &__p--mid {
            font-size: 1.1em;
        }
    }

    .plan {
        width: 350px;
    }

    .pricing {
        grid-column: 2;
    }

    .plan:first-of-type {
        @include set-gc-gr(1, 2);
        border-radius: 15px 0 0 15px;
    }

    .plan:nth-of-type(2) {
        @include set-gc-gr(2, 2);
        width: 320px;
        height: 450px;
    }

    .plan:nth-of-type(3) {
        @include set-gc-gr(3, 2);
        border-radius: 15px 0 0 15px;
    }
}